

body {
  background-color: #ede8d6eb;
  text-align: center;
}

button {
  background-color: #e3e158;
  border: 5px solid black;
  color: rgb(19, 16, 16);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 100%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}